<div ng-controller="IndexCtrl" class="padding">

  <div class="list card">

    <div class="item item-image" ng-show="imageSrc">
      <img ng-src="{{imageSrc}}">
    </div>

    <div class="item" ng-hide="imageSrc" style="text-align: center;">
      <br>
      <b>Take or choose photo below.</b>
      <br><br>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" ng-click="getPicture(cameraOptions.fromCamera)">
        <i class="icon ion-camera"></i>
        Take
      </a>
      <a class="tab-item" ng-click="getPicture(cameraOptions.fromPhotoLibrary)">
        <i class="icon ion-images"></i>
        Choose
      </a>
    </div>

  </div>

  <div class="card" ng-show="cordovaError">
    <div class="item item-assertive item-text-wrap">
      <b>Error caught: </b>{{cordovaError}}
    </div>
  </div>

  <p>The selected photo gets moved from the default Cordova <code>tmp</code> folder to</p>
  <code><small>sterois.app.absoluteUserFilesPath</small></code>
  <p>and is then rendered below via <code>localhost</code>, without requiring an absolute <code>file://</code> URL.</p>

</div>
