<div ng-controller="IndexCtrl" class="padding">
  <navigation-bar title="Settings">
    <left-button icon="/icons/navicon-round@2x" onTap="showMenu()"></left-button>
  </navigation-bar>

  <div class="list">

    <div class="item item-divider">
      Header and tab bar background color
    </div>

    <div class="item range range-assertive">
      <div>0</div>
      <input type="range" name="red" min="0" max="255"  step="1" ng-model="rgb.red">
      <div>255</div>
    </div>

    <div class="item range range-balanced">
      <div>0</div>
      <input type="range" name="green" min="0" max="255" step="1" ng-model="rgb.green">
      <div>255</div>
    </div>

    <div class="item range range-positive">
      <div>0</div>
      <input type="range" name="blue" min="0" max="255" step="1" ng-model="rgb.blue">
      <div>255</div>
    </div>

  </div>


</div>
