<div ng-controller="IndexCtrl">

  <navigation-bar title="HOME">
    <left-button icon="/icons/navicon-round@2x" onTap="showMenu()"></left-button>
  </navigation-bar>

  <ul class="list">

    <div class="item item-divider">
      MPA examples
    </div>

    <li class="item item-icon-right" ng-click="open(example.url, example.isModal)" ng-repeat="example in mpaExamples">
      {{ example.name }}
      <i class="icon ion-ios7-arrow-right"></i>
    </li>

    <div class="item item-divider">
      Device features
    </div>

    <li class="item item-icon-right" ng-click="open(example.url, example.isModal)" ng-repeat="example in deviceExamples">
      {{ example.name }}
      <i class="icon ion-ios7-arrow-right"></i>
    </li>

    <div class="item item-divider">
      Data features
    </div>

    <li class="item item-icon-right" ng-click="open(example.url, example.isModal)" ng-repeat="example in dataExamples">
      {{ example.name }}
      <i class="icon ion-ios7-arrow-right"></i>
    </li>

  </ul>

</div>
